body {
  height: 100%;
  width: 100%;
  background-color: white;
}
.wrapper {
  height: 100%;
  width: 1280px;
  margin: 0 auto;
}

.header-name {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  width: 334px;
  height: 79px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #000000;
}
.word {
  color: rgba(75, 202, 255, 1);
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #35444f;
}
.menu-name {
  text-decoration: none;
  padding: 15px 25px;
  box-sizing: border-box;
  height: 60px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: white;
  border: 0.5px solid #ffffff;
}
.menu-name:hover {
  background-color: rgba(34, 47, 58, 1);
}
.main {
  display: flex;
  justify-content: space-between;
}
.aside {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  margin-top: 49px;
}
.side-menu {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  height: 100%;
  padding: 20px;
  color: rgba(73, 88, 99, 1);
}
.side-menu:hover {
  background-color: rgba(219, 219, 219, 1);
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 800px;
  margin-left: 30px;
  margin-top: 49px;
}
.photo-container {
  display: flex;
  width: 850px;
  height: 500px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.photo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}
.photo-1 {
  width: 400px;
  height: 400px;
  transition: 1.7s;
}

.text {
  width: 100%;
  height: 120px;
  color: #2c2c2c;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}

.lower-menu {
  display: flex;
  height: 60px;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 30px;
  margin-bottom: 30px;
}
.lower-menu-item {
  text-decoration: none;
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: rgba(12, 25, 39, 1);
  padding: 15px;
  margin-right: 10px;
}
.copyright {
  margin-left: 150px;
  width: 190px;
  height: 28px;
  padding: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.lower-menu-item:hover {
  color: rgba(49, 129, 166, 1);
  border-bottom: 2px solid rgba(49, 129, 166, 1); /* постралась сделать что-то похожее, либо же просто text-decoration: underline; */
  padding-bottom: 10px;
}

.photo-1:hover {
  transform: scale(1.5);
}
